################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/visualc/.vs/picomoq/v16
/visualc/picomoq/x64/Debug
/visualc/picomoq_t/x64/Debug
/visualc/picomoq_test/x64/Debug
